body {
    background-color: rgb(207, 230, 238);
  }

#welcome{
    color: rgb(19, 185, 226);
    text-align: center;
    font-size: 50px;
}
#sale{
    color: rgb(19, 185, 226);
    text-align: center;
    font-size: 40px;
}
#list{
    color: rgb(19, 185, 226);
    text-align: left;
    font-size: 30px;
}
.navBar{
    color: rgb(10, 13, 14);
    text-align: left;
    font-size: 30px;
}
#table{
    color: rgb(19, 185, 226);
    font-family: sans-serif;

}
.login{
    color: rgb(10, 13, 14);
    text-align: left;
    font-size: 30px;
}
